absl-py==0.12.0
alembic @ file:///home/conda/feedstock_root/build_artifacts/alembic_1613901514078/work
anyio @ file:///home/conda/feedstock_root/build_artifacts/anyio_1614388745313/work/dist
appdirs @ file:///home/conda/feedstock_root/build_artifacts/appdirs_1603108395799/work
argon2-cffi @ file:///home/conda/feedstock_root/build_artifacts/argon2-cffi_1602546578258/work
aspy.yaml==1.3.0
astunparse==1.6.3
async-generator==1.10
attrs @ file:///home/conda/feedstock_root/build_artifacts/attrs_1605083924122/work
Babel @ file:///home/conda/feedstock_root/build_artifacts/babel_1605182336601/work
backcall @ file:///home/conda/feedstock_root/build_artifacts/backcall_1592338393461/work
backports.functools-lru-cache==1.6.1
beautifulsoup4 @ file:///home/conda/feedstock_root/build_artifacts/beautifulsoup4_1601745390275/work
bleach @ file:///home/conda/feedstock_root/build_artifacts/bleach_1612213472466/work
blinker==1.4
blis @ file:///home/conda/feedstock_root/build_artifacts/cython-blis_1607338142331/work
bokeh @ file:///home/conda/feedstock_root/build_artifacts/bokeh_1606141204355/work
Bottleneck @ file:///home/conda/feedstock_root/build_artifacts/bottleneck_1611195599064/work
brotlipy==0.7.0
cached-property==1.5.1
cachetools==4.2.2
catalogue @ file:///home/conda/feedstock_root/build_artifacts/catalogue_1610454474104/work
certifi==2020.12.5
certipy==0.1.3
cffi @ file:///home/conda/feedstock_root/build_artifacts/cffi_1613413867554/work
cfgv @ file:///home/conda/feedstock_root/build_artifacts/cfgv_1596220740692/work
chardet @ file:///home/conda/feedstock_root/build_artifacts/chardet_1610093487176/work
click==7.1.2
cloudpickle @ file:///home/conda/feedstock_root/build_artifacts/cloudpickle_1598400192773/work
conda==4.9.2
conda-package-handling @ file:///home/conda/feedstock_root/build_artifacts/conda-package-handling_1602876795648/work
cryptography @ file:///home/conda/feedstock_root/build_artifacts/cryptography_1615406009918/work
cycler==0.10.0
cymem @ file:///home/conda/feedstock_root/build_artifacts/cymem_1607336136677/work
Cython @ file:///home/conda/feedstock_root/build_artifacts/cython_1613867103122/work
cytoolz==0.11.0
dask @ file:///home/conda/feedstock_root/build_artifacts/dask-core_1612568682000/work
decorator==4.4.2
defusedxml==0.6.0
dill @ file:///home/conda/feedstock_root/build_artifacts/dill_1604312823872/work
distlib @ file:///home/conda/feedstock_root/build_artifacts/distlib_1593349814048/work
distributed @ file:///home/conda/feedstock_root/build_artifacts/distributed_1612581522263/work
docopt==0.6.2
editdistance @ file:///home/conda/feedstock_root/build_artifacts/editdistance_1610127122472/work
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-2.3.1/en_core_web_sm-2.3.1.tar.gz
entrypoints @ file:///home/conda/feedstock_root/build_artifacts/entrypoints_1605121927639/work/dist/entrypoints-0.3-py2.py3-none-any.whl
filelock @ file:///home/conda/feedstock_root/build_artifacts/filelock_1589994591731/work
fsspec @ file:///home/conda/feedstock_root/build_artifacts/fsspec_1614107550004/work
funcy @ file:///home/conda/feedstock_root/build_artifacts/funcy_1601143499053/work
future @ file:///home/conda/feedstock_root/build_artifacts/future_1610147336439/work
gast==0.3.3
gensim==3.2.0
gmpy2==2.1.0b1
google-auth==1.30.0
google-auth-oauthlib==0.4.4
google-pasta==0.2.0
grpcio==1.37.1
h5py==2.10.0
HeapDict==1.0.1
identify @ file:///home/conda/feedstock_root/build_artifacts/identify_1615265625629/work
idna @ file:///home/conda/feedstock_root/build_artifacts/idna_1593328102638/work
imagecodecs @ file:///home/conda/feedstock_root/build_artifacts/imagecodecs_1614194611147/work
imageio @ file:///home/conda/feedstock_root/build_artifacts/imageio_1594044661732/work
importlib-metadata @ file:///home/conda/feedstock_root/build_artifacts/importlib-metadata_1615169443358/work
ipykernel @ file:///home/conda/feedstock_root/build_artifacts/ipykernel_1613852948592/work/dist/ipykernel-5.5.0-py3-none-any.whl
ipympl @ file:///home/conda/feedstock_root/build_artifacts/ipympl_1611166850005/work
ipython @ file:///home/conda/feedstock_root/build_artifacts/ipython_1614393593460/work
ipython-genutils==0.2.0
ipywidgets @ file:///home/conda/feedstock_root/build_artifacts/ipywidgets_1609995587151/work
jedi @ file:///home/conda/feedstock_root/build_artifacts/jedi_1610146791823/work
Jinja2 @ file:///home/conda/feedstock_root/build_artifacts/jinja2_1612119311452/work
joblib @ file:///home/conda/feedstock_root/build_artifacts/joblib_1612898609989/work
json5 @ file:///home/conda/feedstock_root/build_artifacts/json5_1600692310011/work
jsonschema @ file:///home/conda/feedstock_root/build_artifacts/jsonschema_1602551949684/work
jupyter @ file:///home/conda/feedstock_root/build_artifacts/jupyter_1611871908862/work
jupyter-client @ file:///home/conda/feedstock_root/build_artifacts/jupyter_client_1610375432619/work
jupyter-console @ file:///home/conda/feedstock_root/build_artifacts/jupyter_console_1598728807792/work
jupyter-core @ file:///home/conda/feedstock_root/build_artifacts/jupyter_core_1612125257337/work
jupyter-logging==1.0.2
jupyter-packaging @ file:///home/conda/feedstock_root/build_artifacts/jupyter-packaging_1613054948399/work
jupyter-server @ file:///home/conda/feedstock_root/build_artifacts/jupyter_server_1614028750231/work
jupyter-telemetry @ file:///home/conda/feedstock_root/build_artifacts/jupyter_telemetry_1605173804246/work
jupyterhub @ file:///home/conda/feedstock_root/build_artifacts/jupyterhub-feedstock_1614255312316/work
jupyterlab @ file:///home/conda/feedstock_root/build_artifacts/jupyterlab_1614041538214/work
jupyterlab-pygments @ file:///home/conda/feedstock_root/build_artifacts/jupyterlab_pygments_1601375948261/work
jupyterlab-server @ file:///home/conda/feedstock_root/build_artifacts/jupyterlab_server_1613760084674/work
jupyterlab-widgets @ file:///home/conda/feedstock_root/build_artifacts/jupyterlab_widgets_1609173350931/work
Keras-Preprocessing==1.1.2
kiwisolver @ file:///home/conda/feedstock_root/build_artifacts/kiwisolver_1610099773791/work
llvmlite==0.35.0
locket==0.2.0
Mako @ file:///home/conda/feedstock_root/build_artifacts/mako_1610659158978/work
mamba @ file:///home/conda/feedstock_root/build_artifacts/mamba_1615043240478/work
Markdown==3.3.4
MarkupSafe @ file:///home/conda/feedstock_root/build_artifacts/markupsafe_1610127564475/work
matplotlib @ file:///home/conda/feedstock_root/build_artifacts/matplotlib-suite_1611858709932/work
mistune @ file:///home/conda/feedstock_root/build_artifacts/mistune_1610112870915/work
mock @ file:///home/conda/feedstock_root/build_artifacts/mock_1610094566999/work
mpmath @ file:///home/conda/feedstock_root/build_artifacts/mpmath_1612895720168/work
msgpack @ file:///home/conda/feedstock_root/build_artifacts/msgpack-python_1610121710380/work
murmurhash @ file:///home/conda/feedstock_root/build_artifacts/murmurhash_1607334220243/work
nbclassic @ file:///home/conda/feedstock_root/build_artifacts/nbclassic_1610352513187/work
nbclient @ file:///home/conda/feedstock_root/build_artifacts/nbclient_1614336084111/work
nbconvert @ file:///home/conda/feedstock_root/build_artifacts/nbconvert_1605401831777/work
nbformat @ file:///home/conda/feedstock_root/build_artifacts/nbformat_1611005694671/work
nbgrader==0.5.6
nest-asyncio @ file:///home/conda/feedstock_root/build_artifacts/nest-asyncio_1605195931949/work
networkx @ file:///home/conda/feedstock_root/build_artifacts/networkx_1598210780226/work
nltk==3.4.4
nodeenv @ file:///home/conda/feedstock_root/build_artifacts/nodeenv_1598272176291/work
notebook @ file:///home/conda/feedstock_root/build_artifacts/notebook_1610575319689/work
numba @ file:///home/conda/feedstock_root/build_artifacts/numba_1607010268229/work
numexpr @ file:///home/conda/feedstock_root/build_artifacts/numexpr_1614971364998/work
numpy @ file:///home/conda/feedstock_root/build_artifacts/numpy_1612952999509/work
oauthlib==3.0.1
olefile @ file:///home/conda/feedstock_root/build_artifacts/olefile_1602866521163/work
opt-einsum==3.3.0
packaging @ file:///home/conda/feedstock_root/build_artifacts/packaging_1612459636436/work
pamela==1.0.0
pandas==1.2.3
pandocfilters==1.4.2
parso @ file:///home/conda/feedstock_root/build_artifacts/parso_1607618318316/work
partd==1.1.0
patsy==0.5.1
pexpect @ file:///home/conda/feedstock_root/build_artifacts/pexpect_1602535608087/work
pickleshare @ file:///home/conda/feedstock_root/build_artifacts/pickleshare_1602536217715/work
Pillow @ file:///home/conda/feedstock_root/build_artifacts/pillow_1615243973365/work
pipreqs==0.4.13
plac==0.9.6
pooch @ file:///home/conda/feedstock_root/build_artifacts/pooch_1606467285986/work
pre-commit==1.20.0
preshed @ file:///home/conda/feedstock_root/build_artifacts/preshed_1607337627378/work
prometheus-client @ file:///home/conda/feedstock_root/build_artifacts/prometheus_client_1605543085815/work
prompt-toolkit @ file:///home/conda/feedstock_root/build_artifacts/prompt-toolkit_1613068548426/work
protobuf==3.15.2
psutil @ file:///home/conda/feedstock_root/build_artifacts/psutil_1610127094245/work
ptyprocess @ file:///home/conda/feedstock_root/build_artifacts/ptyprocess_1609419310487/work/dist/ptyprocess-0.7.0-py2.py3-none-any.whl
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycosat @ file:///home/conda/feedstock_root/build_artifacts/pycosat_1610094791171/work
pycparser @ file:///home/conda/feedstock_root/build_artifacts/pycparser_1593275161868/work
pycurl==7.43.0.6
Pygments @ file:///home/conda/feedstock_root/build_artifacts/pygments_1613412098605/work
PyJWT @ file:///home/conda/feedstock_root/build_artifacts/pyjwt_1610910308735/work
pyLDAvis @ file:///home/conda/feedstock_root/build_artifacts/pyldavis_1616397629548/work
pyOpenSSL @ file:///home/conda/feedstock_root/build_artifacts/pyopenssl_1608055815057/work
pyparsing==2.4.7
PyQt5==5.12.3
PyQt5-sip==4.19.18
PyQtChart==5.12
PyQtWebEngine==5.12.1
pyrsistent @ file:///home/conda/feedstock_root/build_artifacts/pyrsistent_1610146801408/work
PySocks @ file:///home/conda/feedstock_root/build_artifacts/pysocks_1610291444829/work
python-dateutil==2.8.1
python-editor==1.0.4
python-json-logger @ file:///home/conda/feedstock_root/build_artifacts/python-json-logger_1602545356084/work
pytz @ file:///home/conda/feedstock_root/build_artifacts/pytz_1612179539967/work
PyWavelets @ file:///home/conda/feedstock_root/build_artifacts/pywavelets_1602504439149/work
PyYAML==5.4.1
pyzmq @ file:///home/conda/feedstock_root/build_artifacts/pyzmq_1614611717789/work
qtconsole @ file:///home/conda/feedstock_root/build_artifacts/qtconsole_1611262126872/work
QtPy==1.9.0
requests @ file:///home/conda/feedstock_root/build_artifacts/requests_1608156231189/work
requests-oauthlib==1.3.0
rise==5.5.1
rsa==4.7.2
ruamel-yaml-conda @ file:///home/conda/feedstock_root/build_artifacts/ruamel_yaml_1611943443937/work
ruamel.yaml @ file:///home/conda/feedstock_root/build_artifacts/ruamel.yaml_1610291373612/work
ruamel.yaml.clib @ file:///home/conda/feedstock_root/build_artifacts/ruamel.yaml.clib_1610146839777/work
scikit-image==0.18.1
scikit-learn @ file:///home/conda/feedstock_root/build_artifacts/scikit-learn_1611079729065/work
scipy==1.4.1
seaborn @ file:///home/conda/feedstock_root/build_artifacts/seaborn-split_1611834504644/work
Send2Trash==1.5.0
six @ file:///home/conda/feedstock_root/build_artifacts/six_1590081179328/work
smart-open==5.0.0
sniffio @ file:///home/conda/feedstock_root/build_artifacts/sniffio_1610318316464/work
sortedcontainers @ file:///home/conda/feedstock_root/build_artifacts/sortedcontainers_1605110889605/work
soupsieve @ file:///home/conda/feedstock_root/build_artifacts/soupsieve_1597680516047/work
spacy @ file:///home/conda/feedstock_root/build_artifacts/spacy_1606374759946/work
SQLAlchemy @ file:///home/conda/feedstock_root/build_artifacts/sqlalchemy_1612225082967/work
srsly @ file:///home/conda/feedstock_root/build_artifacts/srsly_1607347786075/work
statsmodels @ file:///home/conda/feedstock_root/build_artifacts/statsmodels_1612273600586/work
sympy @ file:///home/conda/feedstock_root/build_artifacts/sympy_1610127371533/work
tables @ file:///home/conda/feedstock_root/build_artifacts/pytables_1603317066716/work
tblib==1.6.0
tensorboard==2.2.2
tensorboard-plugin-wit==1.8.0
tensorflow==2.2.0
tensorflow-estimator==2.2.0
termcolor==1.1.0
terminado @ file:///home/conda/feedstock_root/build_artifacts/terminado_1609794176029/work
testpath==0.4.4
thinc @ file:///home/conda/feedstock_root/build_artifacts/thinc_1612353139913/work
threadpoolctl @ file:///tmp/tmp79xdzxkt/threadpoolctl-2.1.0-py3-none-any.whl
tifffile @ file:///home/conda/feedstock_root/build_artifacts/tifffile_1614422883936/work
toml @ file:///home/conda/feedstock_root/build_artifacts/toml_1604308577558/work
toolz @ file:///home/conda/feedstock_root/build_artifacts/toolz_1600973991856/work
tornado @ file:///home/conda/feedstock_root/build_artifacts/tornado_1610094704591/work
tqdm @ file:///home/conda/feedstock_root/build_artifacts/tqdm_1614279180094/work
traitlets @ file:///home/conda/feedstock_root/build_artifacts/traitlets_1602771532708/work
typing-extensions @ file:///home/conda/feedstock_root/build_artifacts/typing_extensions_1602702424206/work
urllib3 @ file:///home/conda/feedstock_root/build_artifacts/urllib3_1611695416663/work
vincent==0.4.4
virtualenv @ file:///home/conda/feedstock_root/build_artifacts/virtualenv_1612177127380/work
wasabi @ file:///home/conda/feedstock_root/build_artifacts/wasabi_1612156086016/work
wcwidth @ file:///home/conda/feedstock_root/build_artifacts/wcwidth_1600965781394/work
webencodings==0.5.1
Werkzeug==1.0.1
widgetsnbextension @ file:///home/conda/feedstock_root/build_artifacts/widgetsnbextension_1603129364725/work
wrapt==1.12.1
xlrd @ file:///home/conda/feedstock_root/build_artifacts/xlrd_1610224409810/work
yarg==0.1.10
zict==2.0.0
zipp @ file:///home/conda/feedstock_root/build_artifacts/zipp_1603668650351/work
